$mapState: (
  active: (color: $primary,
  ),
  inactive: (color: $warning,
  ),
);

@each $state,
$state-child in $mapState {
  .#{$state} {
    color: map-get($state-child, color);
  }
}

.kw-label {
  margin-bottom: 0;
  color: $greyText;
  font-size: 10px;
}

h1,
h2,
h3,
h4,
h5 {
  color: #00171a !important;
  font-weight: 500 !important;
}

.letter-capitalize {
  &:first-letter {
    text-transform: uppercase;
  }
}

.bold {
  font-weight: 600;
}

.c-error {
  color: #f44336;

  &:first-letter {
    text-transform: uppercase;
  }
}